.column-form {
  background-color: white;
  display: flex;
  align-items: center;
  height: var(--column-definition-row-height);

  &:hover {
    cursor: pointer;
  }
}

.column-name, .column-type {
  flex: 1;
}

.add-btn {
  flex: 0 0 auto;
}

.drag-icon {
  flex-basis: 1em;
}