.column-form {
  background-color: white;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.column-name {
  border: 1px solid red;
}

.column-name, .column-type {
  flex: 1;
}

.add-btn {
  flex: 0 0 auto;
}

.drag-icon {
  flex-basis: 1em;
}