.description {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 1em;
}

.download-button {
    float: right;
}

.key {
    background-color: #FAFAFA;
    padding: 0.3em;
}

.value {
    padding: 0.3em;
}
