.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 1em;
}
:global(.react-grid-Cell) {
    display: flex;
}
:global(.rdg-cell-expand) {
    flex: 0 0 auto;
}
:global(.react-grid-Cell__value) {
    flex: 1;
}

.main {
    width: 100%;
}

.error {
    color: var(--error);

    & .error-icon {
        flex: 0 0 auto;
        color: var(--error);
        margin: 0 0.5em;
        display: flex;
        align-items: center;
    }
}
