.align-center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
  
.use-full-width {
  width: 100%;
}
  
.drag-and-drop-note {
  text-align: center;
}
  