.sub-title {
    color: grey;
    font-size: smaller;
}

.select {
    width: 100%;
    flex: 0 0 auto;
}

.spin-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-control {
    margin-bottom: 0.5em;
}
