.column-headers {
    display: flex;
}

.label-header, .type-header {
    font-size: var(--small);
    flex: 1;
    text-transform: uppercase;
    background-color: #faf8f0;
    padding: 0.75em;
}

.columns {
    background-color: #f0eee6;
}

.selected {
    background-color: lightblue;
}

.add-btn {
    flex: 0 0 auto;
}

.column-form {
    padding-top: 1em;
}

.button-row {
    display: flex;
    justify-content: left;
}

.plus {
    margin-right: 0.5em;
}
