.switch-row {
    padding-bottom: 1em;
}

.switch-label {
    padding-left: 1em;
}

.select-all-checkbox {
    display: block;
    margin: 0;
}

:global(.ant-checkbox-wrapper).select-all-checkbox {
    margin-left: 0;
}

.file-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em 0;

    & .icon {
        flex: 0 0 auto;
        padding-right: 1em;
    }
}
