.switch-row {
    padding-bottom: 1em;
}

.switch-label {
    padding-left: 1em;
}

.select-all-checkbox {
    display: block;
    margin: 0;
}

:global(.ant-checkbox-wrapper).select-all-checkbox {
    margin-left: 0;
}