.container {
    width: 100%;
}

.icon-text {
    padding: 0.5em 1em;

    &:hover {
        cursor: pointer;
        color: var(--brand-primary);
    }
}

.create-template-text {
    font-size: 1em;
}
