.divider {
    margin: 4px 0;
}

.menu {
    margin: 0;
}

.plate-barcode-cell, .plate-barcode-cell > * {
    border-radius: unset !important;
    box-shadow: none;
    height: 33px;
    margin: 0;
    outline: none;
    overflow: hidden;
    width: 100%;
}
