.default-input, .default-input > * {
    border-radius: unset !important;
    box-shadow: none;
    height: 100%;
    margin: 0;
    width: 100%;
}

.duration-input {
    display: flex !important;
}

.duration-input > span > span > input {
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
}

.duration-input > span > span > span {
    border-radius: unset;
    font-size: smaller;
    height: 100%;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
}