:root {
  --brand-primary: #1DA57A;
  --border-color: #d9d9d9;
  --grey: #cacbcc;
  --success: #52c41a;
  --warning: #faad14;
  --error: #f5222d;
  --unrecoverable: #cacbcc;
  --drag-and-drop-background-color: #e0eefc;
  --disabled-bg: #f9f9f9;
}
