:root {
  --box-shadow: 10px 0px 15px -5px rgba(173,173,173,0.4);
  --column-definition-row-height: 3em;
  --border: 1px solid #d9d9d9;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
