:root {
  --box-shadow: 10px 0px 15px -5px rgba(173,173,173,0.4);
  --border: 1px solid var(--border-color);
  --tab-pane-padding: 18px;
  --large-device-width: 992px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-cell {
  border-left: 0;
  border-top: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #dddddd;
}
