.icon {
  font-size: 30px;
}

.warn {
  color: var(--warning);
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
}

.info {
  color: var(--info);
}

.save {
  color: #003057;
}
