.table-tool-header {
    display: flex;
    /* Variable located in styles/variables */
    border-top: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    padding-left: 2em;
}
