.refresh-button {
    float: right;
    margin-top: 2em;
}

.full-width {
    width: 100%;
}

.or-paragraph {
    text-align: center;
}

.empty {
    margin-top: 15%;
}

.check-all {
    margin-bottom: 12px;
}

.include-extra-columns {
    margin-bottom: 0;
}

.description {
    margin-top: 12px;
}
