.search-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-mode {
    flex: 0 0 auto;
}

.buttons {
    flex: 0 0 auto;
}

.export-btn {
    margin-right: 1em;
}

.full-width {
    width: 100%;
}

.or-paragraph {
    text-align: center;
}

.empty {
    margin-top: 15%;
}

.check-all {
    margin-bottom: 12px;
}

.include-extra-columns {
    margin-bottom: 0;
}

.description {
    margin-top: 12px;
}
