.table-footer {
    /* Variable located in styles/variables */
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    text-align: center;
    width: 100%;
  
    & button {
      border: none;
      /* Variable located in styles/colors */
      color: var(--brand-primary);
      font-size: inherit;
    }
  }
