.container {
    margin-bottom: 1em;
}

.label {
    margin-bottom: 0.25em;
}

.body {
    display: flex;

    & .form {
        flex: 1;
        min-height: inherit;
        display: flex;
        align-items: center;
    }


}

.error {
    color: var(--error);

    & .error-icon {
        flex: 0 0 auto;
        color: var(--error);
        margin: 0 0.5em;
        display: flex;
        align-items: center;
    }
}