.file-cell {
  display: flex;
  align-items: center;

  & .file-cell-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .add-scene-icon {
    flex: 0 0 auto;
    padding: 0.5em;
  }
}

.input {
  width: 100%;
}

.modal-help-text, .alert {
  margin-bottom: 1em;
}
