.container {
    background-color: lightgrey;
    font-size: small;
    padding: 20vh 0.5em 0 0.5em;
}

.button {
    justify-content: center;
    padding: 1em 0;
}

.selected-button {
    background-color: navy;
}
