.create-barcode-link {
  padding-top: 1em;
  display: block;
}

.asterisk {
  color: red;
}

.imaging-sessions, .create-barcode-form {
  padding: 2em 0;
}

.create-barcode-button {
    float: right;
    margin-top: 24px;
}

.select {
    width: 100%;
}