.progress-container {
    display: flex;
}

.copy-stats-container {
    display: flex;
    flex-direction: column;
    font-size: var(--small);
    color: var(--success);
}

.warning-icon {
    color: var(--warning);
    margin-left: 1em;
    flex: 0 0 auto;
}
