.container {
    width: 100%;
    display: flex;
    align-items: center;

    & .column-type-select {
        flex: 0 0 160px;
    }

    & .dropdown-values-select {
        flex: 2;
    }
}

.true {
    background-color: lightgreen;
    height: 100%;
    padding-top: 3px;
    text-align: center;
    width: 100%;
}

.false {
    background-color: pink;
    height: 100%;
    padding-top: 3px;
    text-align: center;
    width: 100%;
}

.error {
    background-color: red;
}
