.true {
    background-color: lightgreen;
    height: 100%;
    padding-top: 3px;
    text-align: center;
    width: 100%;
}

.false {
    background-color: pink;
    height: 100%;
    padding-top: 3px;
    text-align: center;
    width: 100%;
}

.date-time-min-width {
    width: 250px;
}

.date-min-width {
    width: 170px;
}
