.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.labels {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-wells-icon {
  flex: 0 0 auto;
  padding: 0.5em;
}
