.row {
    display: flex;
    justify-content: space-between;
}

.imaging-session-selector, .btns {
    flex: 0 0 auto;
}

.btns {
    margin-bottom: 1em;
}

.associate-btn {
    margin-right: 1em;
}

.plate-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.plate {
    flex: 1;
    width: 500px;
}
