.job-table :global(.ant-table-body .ant-table-row) {
    cursor: pointer;
}

.refresh-container {
    margin: 4px;
    display: flex;
    justify-content: space-between;
}

.refresh-button, .alert {
    flex: 0 0 auto;
}

.empty {
    margin-top: 25%;
}
