.container {
    width: 100%;
    display: flex;
    align-items: center;

    & .column-type-select {
        flex: 0 0 160px;
    }

    & .dropdown-values-select {
        flex: 2;
    }

    & .hidden-dropdown {
        width: 0;
        border: none;
    }
}
