.continue-button {
    float: right;
    margin-top: 24px;
}

.workflow-selector-container {
    margin-top: 1em;
}

.selector {
    width: 100%;
}

.workflow-info {
    justify-content: normal;
}

.workflow-label {
    margin-bottom: 0;
}
