.read-only {
  width: 100%;
  height: 100%;
  padding: 0.2em 1em;

  &:hover {
    cursor: pointer;
  }
}

.input {
  opacity: 1;
  transition: none;

  &:global(.ant-input) {
    background-color: transparent;
  }
}

.hidden {
  opacity: 0;
  height: 0;
}