.boolean {
    border: none;
    min-height: 35px;
    text-align: center;
    width: 100%;
    composes: grid-cell from "../../styles/variables.pcss";
}

.true {
    background-color: lightgreen;
}

.false {
    background-color: pink;
}
