name: release

on:
  push:
    tags:
      # Match any tags that start with 'v'
      - v*

jobs:
  release-file-upload-app:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@main

      - name: Install Node.js, NPM, and Yarn
        uses: actions/setup-node@main
        with:
          node-version: 12

      - name: Install deps and compile app
        run: |
          yarn --link-duplicates
          yarn compile-prod

      - name: Build artifact and release
        uses: samuelmeuli/action-electron-builder@v1.6.0
        env:
          AMPLITUDE_API_KEY: ${{ secrets.AMPLITUDE_API_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}
          release: true
          windows_certs: ${{ secrets.CSC_LINK }}
          windows_certs_password: ${{ secrets.CSC_KEY_PASSWORD }}
