.button-row {
  display: flex;
  margin-bottom: 1em;
}

.create-schema-button {
  margin-left: 1em;
  margin-top: 1.6em;
}

.schema-selector {
  width: 100%;
  z-index: 1;
}

.schema-selector-label {
  margin-bottom: 0;
}

.plate-info {
  margin-bottom: 1em;
}
