.button-row {
  display: flex;
  margin-bottom: 1em;
}

.template-button {
  margin-top: 1.5em;
}

.create-template-button {
  margin-left: 1em;
}

.schema-selector {
  width: 100%;
  z-index: 1;
}

.schema-selector-label {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 1em;
}

.plate-info {
  margin-bottom: 1em;
}

.spin-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
